html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 252, 252);
  letter-spacing: 0.04em;
  line-height: 1;
}

.container {
  width: 1168px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 705px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 440px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 280px;
  }
}
.button {
  background-color: rgb(248, 210, 78);
  border-radius: 10px;
  border: 0;
  color: rgb(19, 19, 19);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
}
.button:hover {
  background-color: rgb(10, 136, 23);
}
.button:focus {
  background-color: rgb(10, 136, 23);
  color: #fff;
  fill: #fff;
}
.button--hover:hover {
  border: 2px solid rgb(10, 136, 23);
}
.button--hover:focus {
  border: 2px solid rgb(10, 136, 23);
  color: #fff;
  fill: #fff;
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}
.footer {
  background-color: rgb(132, 161, 120);
  font-family: "Montserrat", sans-serif;
}
.footer__subtitle {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 14px;
}
.footer__title {
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
  padding-top: 18px;
  padding-bottom: 40px;
}
.footer__social-item {
  background-color: rgb(248, 210, 78);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: rgb(132, 161, 120);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.footer__social-icon:hover {
  fill: rgb(252, 252, 252);
}
.footer__social-icon:focus {
  fill: rgb(252, 252, 252);
}
.footer__text {
  font-weight: 700;
  color: rgb(19, 19, 19);
}
.footer__contact {
  color: #fff;
}
.footer__bottom {
  padding: 12px 0;
}
.footer__copyright {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: rgb(122, 122, 122);
}

.header {
  padding-top: 8px;
  padding-bottom: 45px;
  background-color: rgb(132, 161, 120);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 308px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 208px;
  padding-top: 20px;
  padding-bottom: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.header__link {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1;
  color: rgb(252, 252, 252);
  font-weight: 600;
}
.header__link:hover {
  color: rgb(248, 210, 78);
}
.header__btn {
  padding: 12px 35px 12px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 10px;
  background-color: rgb(248, 210, 78);
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  -webkit-transition: background-color ease-in 0.3s;
  transition: background-color ease-in 0.3s;
  text-align: center;
}
.header__btn-icon {
  width: 12px;
  height: 12px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__wrapper {
    gap: 32px;
    padding-top: 4px;
    padding-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    padding-bottom: 2px;
  }
}
.hero {
  background: url(../images/ice-creams-faces.png) top 14px left 652px, url(../images/dots.png) bottom;
  background-repeat: no-repeat;
  background-color: rgb(132, 161, 120);
  position: relative;
  padding-bottom: 65px;
}
.hero__title {
  color: rgb(252, 252, 252);
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  width: 367px;
  font-family: "Seymour One", sans-serif;
  padding-bottom: 28px;
}
.hero__btn {
  color: rgb(19, 19, 19);
  background-color: transparent;
  border: 2px solid rgb(248, 210, 78);
  padding: 12px 34px;
  margin-bottom: 42px;
  border-radius: 10px;
  gap: 5px;
  font-weight: 600;
  -webkit-transition: border ease-in 0.3s;
  transition: border ease-in 0.3s;
  text-align: center;
}
.hero__link {
  color: rgb(248, 210, 78);
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 21px 11px 22px;
  margin-left: 12px;
}
.hero__link:hover {
  color: rgb(10, 136, 23);
}
.hero__link:focus {
  color: rgb(252, 252, 252);
}
.hero__desc {
  width: 200px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.4;
  padding-bottom: 24px;
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.hero__txt-wrapper {
  padding-top: 67px;
  padding-bottom: 38px;
}
.hero__icon {
  fill: rgb(252, 252, 252);
  width: 40px;
  height: 16px;
}
.hero__arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__list {
  position: absolute;
  right: 16px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.hero__item {
  text-align: right;
}
.hero__item-title {
  color: rgb(19, 19, 19);
  font-size: 46px;
  font-weight: 900;
  padding-block: 5px;
  margin-bottom: 4px;
}
.hero__item-desc {
  font-size: 14px;
  color: rgb(252, 252, 252);
}
.hero__buy {
  padding: 32px 54px;
}
.hero__buy__title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Seymour One", sans-serif;
  color: rgb(19, 19, 19);
  line-height: 28px;
  text-align: center;
  padding-bottom: 113px;
}
.hero__buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__buy__item {
  padding: 95px 13px 20px 13px;
  border: 2px solid rgb(150, 175, 140);
  border-radius: 15px;
  position: relative;
}
.hero__buy__item--padding {
  padding-inline: 16px;
}
.hero__buy__item--yellow {
  background-color: rgb(239, 212, 120);
  border-color: rgb(239, 212, 120);
}
.hero__buy__item--orange {
  border-color: rgb(214, 147, 109);
}
.hero__buy__item-title {
  color: rgb(19, 19, 19);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
}
.hero__buy__img {
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 100%;
  top: -7px;
}
.hero__buy__img-wrapper {
  position: absolute;
  width: 132px;
  height: 132px;
  top: -63px;
  left: 0;
  border-radius: 100%;
  background-color: rgba(156, 190, 143, 0.7);
  -webkit-box-shadow: 0px 5px 19px 0px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5px 19px 0px rgba(10, 136, 23, 0.25);
}
.hero__buy__img-wrapper--yellow {
  -webkit-box-shadow: 0px 5px 19px 0px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5px 19px 0px rgba(153, 114, 23, 0.25);
  background-color: rgba(248, 210, 78, 0.7);
}
.hero__buy__img-wrapper--orange {
  -webkit-box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(214, 147, 109);
}
.hero__modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}
.hero__modal__input, .hero__modal__textarea {
  width: 368px;
  padding: 11px 16px;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  margin: 0 auto;
}
.hero__modal__input::-webkit-input-placeholder, .hero__modal__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.hero__modal__input::-moz-placeholder, .hero__modal__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.hero__modal__input:-ms-input-placeholder, .hero__modal__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.hero__modal__input::-ms-input-placeholder, .hero__modal__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.hero__modal__input::placeholder, .hero__modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.hero__modal__textarea {
  height: 84px;
  resize: none;
}
.hero__modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: rgb(248, 210, 78);
  border: 0;
  border-radius: 10px;
  padding: 12px 34px;
  color: rgb(19, 19, 19);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 12px;
    background: url(../images/ice-creams-faces@2x.png) top 6px left 408px, url(../images/dots@2x.png) bottom;
    background-repeat: no-repeat;
    background-color: rgb(132, 161, 120);
  }
  .hero__list {
    right: 32px;
  }
  .hero__title {
    font-size: 26px;
    width: 247px;
    padding-bottom: 24px;
  }
  .hero__desc {
    font-size: 12px;
    padding-bottom: 29px;
    width: 165px;
  }
  .hero__link {
    font-size: 12px;
  }
  .hero__item__title {
    font-size: 28px;
  }
  .hero__item__desc {
    font-size: 8px;
  }
  .hero__txt-wrapper {
    padding-top: 27px;
    padding-bottom: 12px;
  }
  .hero__btn {
    margin-bottom: 12px;
  }
}
@media (max-width: 480px) {
  .hero__img, .hero__desc, .hero__arrow-link {
    display: none;
  }
}
input[type=checkbox],
label {
  display: none;
}

@media (max-width: 768px) {
  nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  label {
    display: block;
  }
  label {
    padding: 8px 4px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 24px;
    height: 2.67px;
    background: rgb(255, 255, 255);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  label span::before {
    top: -8px;
    position: absolute;
  }
  label span::after {
    top: 8px;
    position: absolute;
  }
  .header__nav {
    display: none;
  }
  #toggle:checked ~ .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0;
    width: 100%;
    background: rgb(132, 161, 120);
    height: 796px;
    padding-top: 140px;
    padding-bottom: 528px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .header__link {
    color: rgb(252, 252, 252);
    font-size: 48px;
    letter-spacing: 0;
    font-weight: 700;
    max-width: 385px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__link:hover {
    color: rgb(19, 19, 19);
  }
  input[type=checkbox]:checked ~ label span {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type=checkbox]:checked ~ label span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  input[type=checkbox]:checked ~ label span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  input[type=checkbox]:checked ~ label {
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 3;
  }
  input[type=checkbox]:checked ~ .logo {
    position: absolute;
    top: 20px;
    left: 32px;
  }
  .logo {
    z-index: 3;
  }
}
.how-made {
  background-color: rgb(132, 161, 120);
  padding-top: 60px;
  padding-bottom: 178px;
}
.how-made__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.how-made__title {
  font-family: "Seymour One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 82px;
  text-align: center;
}
.how-made__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 109px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}
.how-made__image-wrapper {
  position: relative;
  width: 490px;
  height: 490px;
}
.how-made__image-wrapper::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 490px;
  height: 490px;
  background: rgb(248, 210, 78);
  border-radius: 50%;
  z-index: 1;
}
.how-made__image {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
}
.how-made__text-wrapper {
  max-width: 463px;
  font-family: "Montserrat", sans-serif;
  line-height: 176%;
  font-size: 14px;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.how-made__button {
  margin-top: 54px;
  padding: 12px 34px;
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.7);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-weight: 600;
  -webkit-transition: background-color ease-in 0.3s;
  transition: background-color ease-in 0.3s;
  text-align: center;
}
.how-made__button:hover, .how-made__button:focus {
  background-color: rgb(10, 136, 23);
  color: #fff;
  fill: #fff;
}
.how-made__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.how-made__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-made__stat-title {
  font-size: 58px;
  font-weight: 700;
  padding-top: 40px;
  color: rgb(252, 252, 252);
  font-family: "Montserrat", sans-serif;
}
.how-made__stat-text {
  font-size: 16px;
  font-weight: 400;
  color: rgb(252, 252, 252);
  text-align: center;
  padding-top: 12px;
  line-height: 176%;
}
.how-made__icon {
  background-color: rgb(248, 210, 78);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how-made__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.how-made__modal-title {
  font-family: "Seymour One", sans-serif;
  color: rgb(19, 19, 19);
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
}
.how-made__video {
  background-color: #000;
  width: 100%;
  height: 205px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-made__modal-play-icon {
  fill: #fff;
}
.how-made__modal-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(19, 19, 19);
  line-height: 140%;
  font-size: 16px;
  padding-bottom: 12px;
}

.products {
  background-image: url(../images/ice-creams-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__title {
  font-family: "Seymour One", sans-serif;
  color: rgb(19, 19, 19);
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 303px;
  text-align: center;
}
.products__subtitle {
  color: rgb(19, 19, 19);
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products__item {
  padding: 165px 62px 62px 60px;
  background-color: rgb(174, 198, 165);
  position: relative;
  text-align: center;
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}
.products__item--yellow {
  background-color: rgb(239, 212, 120);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.products__item--brown {
  background-color: rgb(214, 147, 109);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.products__item-container {
  position: absolute;
  top: -183px;
  left: 34px;
}
.products__item-wrapper {
  position: relative;
  background-color: rgb(217, 217, 217), rgba(156, 190, 143, 0.7);
  -webkit-box-shadow: 0px 8px 30px 0 rgba(10, 136, 23, 0.25);
          box-shadow: 0px 8px 30px 0 rgba(10, 136, 23, 0.25);
  border-radius: 100%;
  width: 302px;
  height: 302px;
}
.products__item-wrapper--yellow {
  -webkit-box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
}
.products__item-wrapper--brown {
  -webkit-box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__item-title {
  color: rgb(19, 19, 19);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 66px;
}
.products__img {
  position: absolute;
  bottom: 16px;
  border-radius: 100%;
}
.products__desc {
  font-size: 16px;
  line-height: 1.76em;
  color: rgb(19, 19, 19);
  width: 246px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.products__desc--first {
  padding-bottom: 87px;
}
.products__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products__icon {
  fill: rgb(19, 19, 19);
  width: 40px;
  height: 16px;
}
.products__modal {
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products__modal-title {
  padding: 12px 0 24px 0;
}
.products__modal-wrapper {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#d9d9d9));
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), linear-gradient(0deg, #d9d9d9, #d9d9d9);
  -webkit-box-shadow: 0px 5.26px 19.73px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.26px 19.73px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  padding-bottom: 10px;
}
.products__modal-img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__modal-list {
  padding-top: 24px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(19, 19, 19);
  gap: 20px;
}
.products__modal-item {
  border: rgba(156, 190, 143, 0.7) 2px solid;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3px;
}
.products__modal-nutrition {
  background-color: rgba(156, 190, 143, 0.7);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 50%;
  width: 53px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  -webkit-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
.products__modal-desc {
  font-size: 12px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
  padding-top: 5px;
}
.products__modal-ingredients {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  padding-bottom: 48px;
}
.products__modal-ingredients__title {
  font-family: "Montserrat", sans-serif;
  color: rgb(19, 19, 19);
  font-size: 20px;
  padding-bottom: 24px;
}
.products__modal-ingredients__item {
  color: rgb(19, 19, 19);
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products__modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}
.products__modal-input {
  width: 368px;
  padding: 11px 16px;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  margin: 0 auto;
}
.products__modal-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-input::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-textarea {
  margin: 0 auto;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  width: 368px;
  padding: 11px 16px;
  height: 84px;
  resize: none;
}
.products__modal-textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-textarea::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.products__modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: rgb(248, 210, 78);
  border: 0;
  border-radius: 10px;
  padding: 12px 34px;
  color: rgb(19, 19, 19);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

/*================== MEDIA QUERIES ==================*/
@media (max-width: 768px) {
  .products__title {
    font-size: 34px;
    padding-bottom: 200px;
  }
  .products__subtitle {
    font-size: 22px;
  }
  .products__list {
    gap: 16px;
  }
  .products__item {
    padding-inline: 26px;
    padding-top: 108px;
    padding-bottom: 12px;
  }
  .products__item-wrapper {
    width: 200px;
    height: 200px;
  }
  .products__item-wrapper--yellow {
    -webkit-box-shadow: 0px 5px 19px 0 rgba(153, 114, 23, 0.25);
            box-shadow: 0px 5px 19px 0 rgba(153, 114, 23, 0.25);
  }
  .products__item-wrapper--brown {
    -webkit-box-shadow: 0px 5px 19px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 5px 19px 0 rgba(0, 0, 0, 0.25);
  }
  .products__item-title {
    font-size: 22px;
    padding-bottom: 40px;
  }
  .products__item-container {
    position: absolute;
    top: -120px;
    left: 11px;
  }
  .products__desc {
    font-size: 14px;
    width: 172px;
  }
  .products__desc--first {
    padding-bottom: 107px;
  }
  .products__img {
    bottom: 12px;
  }
}
@media (max-width: 480px) {
  .products__title {
    font-size: 30px;
    padding-bottom: 150px;
  }
  .products__subtitle {
    font-size: 18px;
  }
  .products__list {
    gap: 168px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__item {
    padding-inline: 60px;
    padding-top: 123px;
    padding-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products__item-wrapper {
    width: 200px;
    height: 200px;
  }
  .products__item-wrapper--yellow {
    -webkit-box-shadow: 0px 5px 20px 0 rgba(153, 114, 23, 0.25);
            box-shadow: 0px 5px 20px 0 rgba(153, 114, 23, 0.25);
  }
  .products__item-wrapper--brown {
    -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);
  }
  .products__item-title {
    font-size: 20px;
    max-width: 155px;
  }
  .products__item-container {
    position: absolute;
    top: -105px;
    left: 60px;
  }
  .products__desc {
    font-size: 14px;
    padding-bottom: 61px;
    margin: 0;
  }
  .products__desc--first {
    padding-bottom: 107px;
  }
  .products__link {
    display: block;
  }
  .products__img {
    bottom: 12px;
  }
}
.response {
  background-color: #fff;
  background-image: url(../images/hlib/desktop/ice-creams-bg.jpg);
  background-size: cover;
  position: relative;
  padding-top: 600px;
  padding-bottom: 228px;
}
.response__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.response__img {
  width: 1013px;
  max-height: 422px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  position: absolute;
  top: -100px;
}
.response__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  overflow: hidden;
}
.response__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  padding: 0;
  margin: 0;
  list-style: none;
}
.response__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  font-family: "Montserrat", sans-serif;
  line-height: 186%;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.response__user-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.response__text {
  background-color: rgb(132, 161, 120);
  padding: 42px 109px;
  border-radius: 24px;
  text-align: center;
  color: rgb(252, 252, 252);
}
.response__user-name {
  color: rgb(19, 19, 19);
  text-align: center;
}
.response__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.response__pagination-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
}
.response__pagination-btn.is-active {
  background-color: rgb(132, 161, 120);
}

.franchise__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.franchise__title {
  padding-bottom: 24px;
  max-width: 322px;
}
.franchise__desc {
  color: rgb(19, 19, 19);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 32px;
}
.franchise__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}
.franchise__input {
  width: 368px;
  padding: 11px 16px;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  margin: 0 auto;
}
.franchise__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__input::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__textarea {
  margin: 0 auto;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  width: 368px;
  padding: 11px 16px;
  height: 84px;
  resize: none;
}
.franchise__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__textarea::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.franchise__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: rgb(248, 210, 78);
  border: 0;
  border-radius: 10px;
  padding: 12px 34px;
  color: rgb(19, 19, 19);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

.cards {
  background-color: rgb(132, 161, 120);
  color: rgb(19, 19, 19);
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 32px;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #fff;
  padding: 40px;
  border-radius: 24px;
  -webkit-transform: translateY(-128px);
          transform: translateY(-128px);
  max-width: 368px;
}
.cards__subtitle {
  font-size: 16px;
  padding-bottom: 8px;
  font-weight: 500;
}
.cards__address {
  color: rgb(214, 147, 109);
  margin-bottom: 32px;
  line-height: 183%;
  font-weight: 500;
}
.cards__address:hover {
  text-decoration: underline;
}
.cards__wrapper {
  border-bottom: 1px solid rgb(225, 225, 225);
}
.cards__time-wrapper {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.cards__text-day {
  padding-bottom: 10px;
}
.cards__time {
  color: rgb(171, 171, 171);
}
.cards__phone {
  padding-top: 32px;
  padding-bottom: 5px;
  color: rgb(19, 19, 19);
  font-weight: 500;
  font-size: 16px;
}
.cards__email {
  color: rgb(19, 19, 19);
  font-weight: 500;
  font-size: 16px;
}
.cards__title {
  background-color: rgb(248, 210, 78);
  border-radius: 6px;
  text-align: center;
  padding: 4px 14px;
  font-weight: 500;
  margin-bottom: 32px;
  line-height: 140%;
}
.cards__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding-bottom: 120px;
}
.cards__button--primary {
  margin-top: 54px;
  padding: 12px 34px;
  border-radius: 10px;
  background-color: rgb(248, 210, 78);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: background-color ease-in 0.3s;
  transition: background-color ease-in 0.3s;
}
.cards__button--primary:hover, .cards__button--primary:focus {
  background-color: rgb(10, 136, 23);
  color: #fff;
  fill: #fff;
}
.cards__button--secondary {
  margin-top: 54px;
  padding: 12px 34px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgb(248, 210, 78);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-weight: 600;
  -webkit-transition: border ease-in 0.3s;
  transition: border ease-in 0.3s;
  text-align: center;
}
.cards__button--secondary:hover, .cards__button--secondary:focus {
  border-color: rgb(10, 136, 23);
  color: #fff;
  fill: #fff;
}
.cards__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.cards__modal-title {
  font-family: "Seymour One", sans-serif;
  color: rgb(19, 19, 19);
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
}
.cards__modal-button {
  padding: 12px 34px;
  border-radius: 10px;
  background-color: rgb(248, 210, 78);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
  -webkit-transition: background-color ease-in 0.3s;
  transition: background-color ease-in 0.3s;
}
.cards__modal-button:hover, .cards__modal-button:focus {
  background-color: rgb(10, 136, 23);
  color: #fff;
  fill: #fff;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 60px;
  max-width: 500px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}
.modal__button {
  margin: 0 auto;
  background-color: rgb(248, 210, 78);
  border: 0;
  border-radius: 10px;
  padding: 12px 34px;
  color: rgb(19, 19, 19);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}
.modal__textarea {
  margin: 0 auto;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  width: 368px;
  padding: 11px 16px;
  height: 84px;
  resize: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__input {
  width: 368px;
  padding: 11px 16px;
  border: 1px solid rgb(132, 161, 120);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  margin: 0 auto;
}
.modal__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__input::placeholder {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}
.modal__title {
  font-family: "Seymour One", sans-serif;
  color: rgb(19, 19, 19);
  font-size: 20px;
  text-align: center;
}
.modal__desc {
  color: rgb(19, 19, 19);
  font-size: 12px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__close-btn svg {
  width: 24px;
  height: 24px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */