@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

.footer {
  background-color: $bg-color;
  font-family: $font-family;

  &__subtitle {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 14px;
  }

  &__title {
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
  }

  &__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-top: 18px;
    padding-bottom: 40px;
  }

  &__social-item {
    background-color: $accent-color;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__social-icon {
    width: 20px;
    height: 20px;
    fill: $bg-color;
    transition: 0.3s ease-out;

    &:hover {
      fill: $light-txt-color;
    }

    &:focus {
      fill: $light-txt-color;
    }
  }

  &__text {
    font-weight: 700;
    color: $dark-txt-color;
  }

  &__contact {
    color: #fff;
  }

  &__bottom {
    padding: 12px 0;
  }

  &__copyright {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: $copy-color;
  }
}