@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

.header {
  padding-top: 8px;
  padding-bottom: 45px;
  background-color: $bg-color;

  &__container {
    display: flex;
    gap: 308px;
  }

  &__wrapper {
    display: flex;
    gap: 208px;
    padding-top: 20px;
    padding-bottom: 3px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 28px;
  }

  &__link {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
    color: $light-txt-color;
    font-weight: 600;

    &:hover {
      color: $accent-color;
    }
  }

  &__btn {
    padding: 12px 35px 12px 36px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background-color: $accent-color;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    transition: background-color ease-in 0.3s;
    text-align: center;

    &-icon {
      width: 12px;
      height: 12px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 14px;

    &__container {
      justify-content: space-between;
    }

    &__wrapper {
      gap: 32px;
      padding-top: 4px;
      padding-bottom: 0;
      align-items: center;
    }

    .logo {
      padding-bottom: 2px;
    }
  }
}
