@use "../utils/placeholders" as *;
@use "../utils/variables" as *;

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background: url(../images/dots@2x.png) bottom;
  }
}

.hero {
  background: url(../images/dots.png) bottom;
  background-repeat: no-repeat;
  background-color: $bg-color;
  padding-bottom: 65px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $light-txt-color;
    font-weight: 400;
    font-size: 38px;
    text-transform: uppercase;
    width: 367px;
    font-family: $second-family;
    padding-bottom: 28px;
    line-height: 48px;
  }

  &__btn {
    color: $dark-txt-color;
    background-color: transparent;
    border: 2px solid $accent-color;
    padding: 12px 34px;
    margin-bottom: 42px;
    border-radius: 10px;
    gap: 5px;
    font-weight: 600;
    transition: border ease-in 0.3s;
    text-align: center;
    line-height: 18px;
  }

  &__link {
    color: $accent-color;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 21px 11px 22px;
    margin-left: 12px;
    line-height: 17px;

    &:hover {
      color: $btn-hover;
    }
    &:focus {
      color: $light-txt-color;
    }
  }

  &__desc {
    width: 200px;
    font-size: 14px;
    font-family: $fourth-family;
    line-height: 20px;
    padding-bottom: 24px;
    letter-spacing: 0;
  }

  &__wrapper {
    display: flex;
    gap: 16px;
  }

  &__txt-wrapper {
    padding-top: 67px;
    padding-bottom: 38px;
  }

  &__icon {
    fill: $light-txt-color;
    width: 40px;
    height: 16px;
  }

  &__arrow-link {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    text-align: right;

    &-title {
      color: $dark-txt-color;
      font-size: 46px;
      font-weight: 900;
      padding-block: 5px;
      margin-bottom: 4px;
    }

    &-desc {
      font-size: 14px;
      color: $light-txt-color;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 12px;
    background: url(../images/dots-tablet.png) bottom;
    background-repeat: no-repeat;
    background-color: $bg-color;

    &__list {
      right: 32px;
    }
    &__title {
      font-size: 26px;
      width: 247px;
      padding-bottom: 24px;
      line-height: 32px;

      &-span {
        font-size: 34px;
      }
    }
    &__desc {
      font-size: 12px;
      padding-bottom: 29px;
      width: 165px;
    }
    &__link {
      font-size: 12px;
      padding-block: 7px;
      padding-inline: 5px;
    }
    &__item__title {
      font-size: 28px;
    }
    &__item__desc {
      font-size: 8px;
    }
    &__txt-wrapper {
      padding-top: 27px;
      padding-bottom: 12px;
    }
    &__btn {
      margin-bottom: 12px;
      padding: 11px 26px;
      font-size: 14px;
    }
    &__faces-img {
      top: 6px;
      height: 329px;
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: url(../images/dots-tablet@2x.png) bottom;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    background: url(../images/dots-small.png) bottom right;
    background-repeat: no-repeat;
    background-color: $bg-color;
    padding-bottom: 150px;

    &__faces-img {
      right: 20px;
      top: 50px;
      height: 267px;
    }

    &__title {
      padding-bottom: 32px;
    }

    &__img,
    &__desc,
    &__arrow-link,
    &__list {
      display: none;
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: url(../images/dots-small@2x.png) bottom right;
      background-repeat: no-repeat;
      background-color: $bg-color;
    }
  }
}

@media (max-width: 320px) {
  .hero {
    background: url(../images/dots-mobile.png) bottom;
    background-repeat: no-repeat;
    background-color: $bg-color;
    padding-bottom: 236px;

    &__faces-img {
      right: 60px;
      top: 236px;
      height: 217px;
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: url(../images/dots-mobile@3x.png) bottom;
      background-repeat: no-repeat;
      background-color: $bg-color;
    }
  }
}
