@use "../utils/placeholders" as *;
@use "../utils/variables" as *;

.hero {
  background: url(../images/ice-creams-faces.png) top 14px left 652px,
    url(../images/dots.png) bottom;
  background-repeat: no-repeat;
  background-color: $bg-color;
  padding-bottom: 65px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: url(../images/ice-creams-faces@2x.png) top 14px left 652px,
        url(../images/dots.png@2x) bottom;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $light-txt-color;
    font-weight: 400;
    font-size: 38px;
    text-transform: uppercase;
    width: 367px;
    font-family: $second-family;
    padding-bottom: 28px;
  }

  &__btn {
    color: $dark-txt-color;
    background-color: transparent;
    border: 2px solid $accent-color;
    padding: 12px 34px;
    margin-bottom: 42px;
    border-radius: 10px;
    gap: 5px;
    font-weight: 600;
    transition: border ease-in 0.3s;
    text-align: center;
  }

  &__link {
    color: $accent-color;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 21px 11px 22px;
    margin-left: 12px;

    &:hover {
      color: $btn-hover;
    }
    &:focus {
      color: $light-txt-color;
    }
  }

  &__desc {
    width: 200px;
    font-size: 14px;
    font-family: $fourth-family;
    line-height: 1.4;
    padding-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    gap: 16px;
  }

  &__txt-wrapper {
    padding-top: 67px;
    padding-bottom: 38px;
  }

  &__icon {
    fill: $light-txt-color;
    width: 40px;
    height: 16px;
  }

  &__arrow-link {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    text-align: right;

    &-title {
      color: $dark-txt-color;
      font-size: 46px;
      font-weight: 900;
      padding-block: 5px;
      margin-bottom: 4px;
    }

    &-desc {
      font-size: 14px;
      color: $light-txt-color;
    }
  }

  &__buy {
    padding: 32px 54px;

    &__title {
      font-size: 20px;
      font-weight: 400;
      font-family: $second-family;
      color: $dark-txt-color;
      line-height: 28px;
      text-align: center;
      padding-bottom: 113px;
    }

    &__list {
      display: flex;
      gap: 32px;
      padding-bottom: 40px;
      justify-content: center;
    }

    &__item {
      padding: 95px 13px 20px 13px;
      border: 2px solid $buy-green-border;
      border-radius: 15px;
      position: relative;

      &--padding {
        padding-inline: 16px;
      }
      &--yellow {
        background-color: $yellow-card-bg;
        border-color: $yellow-card-bg;
      }
      &--orange {
        border-color: $card-orange-bg;
      }

      &-title {
        color: $dark-txt-color;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    &__img {
      position: absolute;
      width: 132px;
      height: 132px;
      border-radius: 100%;
      top: -7px;

      &-wrapper {
        position: absolute;
        width: 132px;
        height: 132px;
        top: -63px;
        left: 0;
        border-radius: 100%;
        background-color: $card-rect-bg-green;
        box-shadow: 0px 5px 19px 0px $buy-wrapper-shadow;

        &--yellow {
          box-shadow: 0px 5px 19px 0px $card-rect-shadow-yellow;
          background-color: $buy-wrapper-yellow-bg;
        }

        &--orange {
          box-shadow: 0px 5px 19px 0px $card-rect-shadow-brown;
          background-color: $card-orange-bg;
        }
      }
    }
  }

  &__modal {
    &__form {
      display: flex;
      gap: 16px;
      flex-direction: column;
      padding-bottom: 32px;
    }

    &__input,
    &__textarea {
      width: 368px;
      padding: 11px 16px;
      border: 1px solid $bg-color;
      border-radius: 10px;
      background-color: $input-bg;
      margin: 0 auto;
    }

    &__input::placeholder,
    &__textarea::placeholder {
      font-size: 14px;
      line-height: 1.4em;
      color: $dark-txt-color;
      font-weight: 400;
    }

    &__textarea {
      height: 84px;
      resize: none;
    }

    &__button {
      display: flex;
      margin: 0 auto;
      background-color: $accent-color;
      border: 0;
      border-radius: 10px;
      padding: 12px 34px;
      color: $dark-txt-color;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 12px;
    background: url(../images/ice-creams-faces-tablet@2x.png) top 6px left 408px,
      url(../images/dots-tablet@2x.png) bottom;
    background-repeat: no-repeat;
    background-color: $bg-color;

    &__list {
      right: 32px;
    }
    &__title {
      font-size: 26px;
      width: 247px;
      padding-bottom: 24px;
    }
    &__desc {
      font-size: 12px;
      padding-bottom: 29px;
      width: 165px;
    }
    &__link {
      font-size: 12px;
      padding-block: 7px;
      padding-inline: 5px;
    }
    &__item__title {
      font-size: 28px;
    }
    &__item__desc {
      font-size: 8px;
    }
    &__txt-wrapper {
      padding-top: 27px;
      padding-bottom: 12px;
    }
    &__btn {
      margin-bottom: 12px;
      padding: 11px 26px;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    background: url(../images/ice-creams-faces-small.png) top 50px left 242px,
      url(../images/dots-small.png) bottom right;
    background-repeat: no-repeat;
    background-color: $bg-color;
    padding-bottom: 150px;

    &__title {
      padding-bottom: 32px;
    }

    &__img,
    &__desc,
    &__arrow-link,
    &__list {
      display: none;
    }
  }
}
