@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

.response {
  background-color: #fff;
  background-image: url(../images/hlib/desktop/ice-creams-bg.jpg);
  background-size: cover;
  position: relative;
  padding-top: 464px;
  padding-bottom: 228px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 100%;
    max-width: 1013px;
    max-height: 422px;
    object-fit: cover;
    border-radius: 24px;
    position: absolute;
    top: -100px;
    transform: translateX(-50%);
  }

  &__track {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    overflow: hidden;
  }

  &__list {
    display: flex;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: $font-family;
    line-height: 186%;
    font-size: 16px;
    font-weight: 500;
    flex: 0 0 100%;
  }

  &__user-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  &__text {
    background-color: $bg-color;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 43px 5vw;
    max-width: 968px;
    max-height: 138px;
    border-radius: 24px;
    text-align: center;
    color: $light-txt-color;
  }

  &__user-name {
    color: $dark-txt-color;
    text-align: center;
  }

  &__pagination {
    display: flex;
    gap: 18px;
  }

  &__pagination-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;

    &.is-active {
      background-color: $bg-color;
    }
  }
}

.franchise {
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-bottom: 24px;
    max-width: 322px;
  }

  &__desc {
    color: $dark-txt-color;
    font-size: 16px;
    font-family: $font-family;
    padding-bottom: 32px;
  }

  &__form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 32px;
  }

  &__input {
    width: 368px;
    padding: 11px 16px;
    border: 1px solid $bg-color;
    border-radius: 10px;
    background-color: $input-bg;
    margin: 0 auto;

    &::placeholder {
      font-size: 14px;
      line-height: 1.4em;
      letter-spacing: 0;
      color: $dark-txt-color;
      font-weight: 400;
    }
  }

  &__textarea {
    margin: 0 auto;
    border: 1px solid $bg-color;
    border-radius: 10px;
    background-color: $input-bg;
    width: 368px;
    padding: 11px 16px;
    height: 84px;
    resize: none;

    &::placeholder {
      font-size: 14px;
      line-height: 1.4em;
      letter-spacing: 0;
      color: $dark-txt-color;
      font-weight: 400;
    }
  }

  &__button {
    display: flex;
    margin: 0 auto;
    background-color: $accent-color;
    border: 0;
    border-radius: 10px;
    padding: 12px 34px;
    color: $dark-txt-color;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
  }
}

@media (max-width: 768px) {
  .response {
    padding-top: 283px;
    &__img {
      max-width: 704px;
      max-height: 327px;
      top: -144px;
    }

    &__text {
      font-size: 14px;
      max-width: 705px;
      max-height: 138px;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .response {
    padding-top: 235px;
    &__img {
      top: -49px;
      max-width: 440px;
      max-height: 204px;
    }

    &__text {
      font-size: 12px;
      max-width: 280px;
      max-height: 256px;
    }

    &__user-name {
      font-size: 20px;
    }
  }
}

@media (max-width: 320px) {
  .response {
    padding-top: 178px;

    &__img {
      top: -32px;
      max-width: 280px;
      max-height: 130px;
    }
  }
}
