@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

body {
  font-family: $font-family;
  color: $light-txt-color;
  letter-spacing: 0.04em;
  line-height: 1;
}

.container {
  max-width: 1200px;
  padding-inline: 16px;
  margin: 0 auto;
}

.animation {
  transition-property: color, background-color, fill, text-decoration !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 200ms !important;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 32px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    padding-inline: 20px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}
