@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

body {
  font-family: $font-family;
  color: $light-txt-color;
  letter-spacing: 0.04em;
  line-height: 1;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 705px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 440px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
}
