@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 60px;
  max-width: 500px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;

  &__button {
    margin: 0 auto;
    background-color: $accent-color;
    border: 0;
    border-radius: 10px;
    padding: 12px 34px;
    color: $dark-txt-color;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
  }

  &__textarea {
    margin: 0 auto;
    border: 1px solid $bg-color;
    border-radius: 10px;
    background-color: $input-bg;
    width: 368px;
    padding: 11px 16px;
    height: 84px;
    resize: none;

    &::placeholder {
      font-size: 14px;
      line-height: 1.4em;
      letter-spacing: 0;
      color: $dark-txt-color;
      font-weight: 400;
    }
  }

  &__input {
    width: 368px;
    padding: 11px 16px;
    border: 1px solid $bg-color;
    border-radius: 10px;
    background-color: $input-bg;
    margin: 0 auto;

    &::placeholder {
      font-size: 14px;
      line-height: 1.4em;
      letter-spacing: 0;
      color: $dark-txt-color;
      font-weight: 400;
    }
  }

  &__form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 32px;
  }

  &__title {
    font-family: $second-family;
    color: $dark-txt-color;
    font-size: 20px;
    text-align: center;
  }

  &__desc {
    color: $dark-txt-color;
    font-size: 12px;
    text-align: center;
    font-family: $font-family;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover svg {
  transform: rotate(90deg);
}

.modal__close-btn svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  display: none;
}
